.container {
  min-height: 100vh;
  width: 100%;
  background: var(--brand-gradient);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: var(--space-lg);
  padding-bottom: var(--space-lg);
}

.row {
  max-width: var(--container-width);
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: var(--space-lg);
}

.h1:after,
.h2:after {
  content: none;
}

.h1 {
  font-weight: bold;
  margin: 0;
  margin-top: var(--space-xs);
  text-transform: none;
}

.h2 {
  margin: 0;
}

.hr {
  width: 271px;
  margin-top: var(--space-lg);
  margin-bottom: var(--space-lg);
}

.right {
  flex-grow: 1;
  text-align: center;
}

.buttonContainer {
  margin-top: var(--space-lg);
}

.headshot {
  width: 100%;
  border-radius: 50%;
  border: 1px solid var(--color-white);
  margin-bottom: var(--space-lg);
}

.socialContainer {
  width: 100%;
  height: 50px;
}

.socialContainerInner {
  display: flex;
  justify-content: center;
}

.socialIconWrapper {
  composes: button from "../styles/button.module.css";
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border-width: 2px;
  margin-left: var(--space-sm);
  margin-right: var(--space-sm);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* TODO: consider making this pattern more repeatable with grid utilities */
@media screen and (max-width: 599px) {
  .row {
    flex-direction: column;
    width: 100%;
    padding-left: var(--space-md);
    padding-right: var(--space-md);
  }
  .left {
    width: 75%;
  }

  .h1 {
    font-size: calc(var(--text-xxl) * var(--text-scale-ratio));
  }
  .h2 {
    font-size: var(--text-xl);
  }
  .aboutMe {
    text-align: center;
  }
}

@media screen and (min-width: 600px) {
  .row {
    flex-direction: column;
    width: 100%;
    padding-left: var(--space-md);
    padding-right: var(--space-md);
  }
  .left {
    width: 50%;
  }

  .h1 {
    font-size: calc(var(--text-xxl) * var(--text-scale-ratio));
  }
  .h2 {
    font-size: var(--text-xxl);
  }
  .aboutMe {
    text-align: center;
  }
}

@media screen and (min-width: 900px) {
  .row {
    flex-direction: row;
    width: 100%;
    padding-left: none;
    padding-right: none;
  }
  .left {
    width: 33%;
    flex-grow: 0;
  }
  .aboutMe {
    text-align: left;
  }
}

@media screen and (min-width: 1200px) {
  .h1 {
    font-size: calc(
      var(--text-xxl) * var(--text-scale-ratio) * var(--text-scale-ratio) *
        var(--text-scale-ratio) * var(--text-scale-ratio)
    );
  }
  .h2 {
    font-size: calc(
      var(--text-xxl) * var(--text-scale-ratio) * var(--text-scale-ratio)
    );
  }
}

/* 
.about {
  width: 100%;
  height: 300px;
  background: turquoise;
} */
