@import "src/styles/breakpoints";
@import "src/styles/button";
@import "src/styles/row";

.container {
  min-height: 100vh;
  width: 100%;
  background: var(--brand-gradient);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: var(--space-lg);
  padding-bottom: var(--space-lg);
}

.row {
  @include row;
  flex-direction: column;

  @include for-tablet-landscape-up {
    flex-direction: row;
  }
}

.h1:after,
.h2:after {
  content: none;
}

.h1 {
  font-size: calc(
    var(--text-xxl) * var(--text-scale-ratio) * var(--text-scale-ratio)
  );
  font-weight: bold;
  margin: 0;
  margin-top: var(--space-xs);
  text-transform: none;
}

.h2 {
  font-size: var(--text-xxl);
  margin: 0;
}

.hr {
  width: 271px;
  margin-top: var(--space-lg);
  margin-bottom: var(--space-lg);
}

.right {
  flex-grow: 1;
  text-align: center;
}

.buttonContainer {
  margin-top: var(--space-lg);
}

.button {
  @include button;
  width: 350px;
}

.headshot {
  width: 100%;
  border-radius: 50%;
  border: 1px solid var(--color-white);
  margin-bottom: var(--space-lg);
}

.socialContainer {
  width: 100%;
  height: 50px;
}

.socialContainerInner {
  display: flex;
  justify-content: center;
}

.aboutMe {
  text-align: center;
}

.socialIconWrapper {
  @include social-button(50px);
}

@include for-phone-only {
  .left {
    width: 75%;
  }
  .button {
    width: 100%;
  }
}

@include for-tablet-portrait-up {
  .left {
    width: 50%;
  }
}

@include for-tablet-landscape-up {
  .left {
    width: 33%;
  }
  .aboutMe {
    text-align: left;
  }
}

/* 
.about {
  width: 100%;
  height: 300px;
  background: turquoise;
} */
