@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700");
@import "breakpoints";
@import "theme";

/**
responsive sizing technique inspired by codyhouse series on creating a design system
https://medium.com/codyhouse/create-your-design-system-part-1-typography-7c630d9092bd
https://medium.com/codyhouse/create-your-design-system-part-4-spacing-895c9213e2b9

These need to exist as css variables instead of css module @values because they need
to change dynamically when --text-base-size is updated (such as via a media query)
**/

:root {
  /* Typography Variables */
  --text-base-size: 1em;
  --text-scale-ratio: 1.2;
  --text-xs: calc(1em / (var(--text-scale-ratio) * var(--text-scale-ratio)));
  --text-sm: calc(1em / var(--text-scale-ratio));
  --text-md: calc(1em * var(--text-scale-ratio));
  --text-lg: calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio));
  --text-xl: calc(
    1em * var(--text-scale-ratio) * var(--text-scale-ratio) *
      var(--text-scale-ratio)
  );
  --text-xxl: calc(
    1em * var(--text-scale-ratio) * var(--text-scale-ratio) *
      var(--text-scale-ratio) * var(--text-scale-ratio)
  );
  --text-xxxl: calc(
    1em * var(--text-scale-ratio) * var(--text-scale-ratio) *
      var(--text-scale-ratio) * var(--text-scale-ratio) *
      var(--text-scale-ratio)
  );
  --heading-line-height: 1.2;
  --body-line-height: 1.4;
  --primary-font-family: Open Sans;
  --secondary-font-family: Open Sans;

  /* Spacing Variables */
  --space-unit: 1em;
  --space-xxs: calc(0.25 * var(--space-unit));
  --space-xs: calc(0.5 * var(--space-unit));
  --space-sm: calc(0.75 * var(--space-unit));
  --space-md: calc(1.25 * var(--space-unit));
  --space-lg: calc(2 * var(--space-unit));
  --space-xl: calc(3.25 * var(--space-unit));
  --space-xxl: calc(5.25 * var(--space-unit));

  /* Color Variables */
  --color-black: #000000;
  --color-white: #ffffff;
  --color-light-gray: #d5d5d5;
  --color-dark-gray: #555555;
  --color-primary: #69c490;
  --color-primary-dark: #57b27d;
  --color-secondary: #366194;
  --color-red: #c75641;
  --brand-gradient: linear-gradient(
    117.43deg,
    var(--color-primary) 0%,
    var(--color-secondary) 102.18%
  );

  /* Layout Variables */
  --container-width: 970px;

  /* Misc. Variables */
  --border-radius: 8px;
}

@include for-tablet-landscape-up {
  :root {
    --text-base-size: 1.1em;
    --text-scale-ratio: 1.2;
  }
}

body {
  font-size: var(--text-base-size);
}

/* reset box-sizing to border-box for all elements */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

*:focus {
  outline: none;
}

// global react-modal styles

body.ReactModal__Body--open {
  overflow: hidden;
}

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 200ms ease-in-out;
  background-color: rgba(0, 0, 0, 0.5) !important;
  z-index: 1;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

.ReactModal__Content {
  transition: margin-top 200ms ease-in-out, opacity 200ms ease-in-out;
  opacity: 0;
  margin-top: 0px;
  display: block;
  background: var(--color-white);
  right: 0;
  left: 0;
  outline: none;
  border-radius: var(--border-radius);

  @include for-tablet-landscape-up {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  @include for-desktop-up {
    width: 33%;
  }

  margin-left: var(--space-md);
  margin-right: var(--space-md);
}

.ReactModal__Content--after-open {
  opacity: 1;
  margin-top: var(--space-xxl);
}

.ReactModal__Content--before-close {
  opacity: 0;
  margin-top: 0px;
}

// global react-toastify styles

.Toastify__toast-container {
  border-radius: var(--border-radius);
  .Toastify__toast {
    margin: var(--space-sm);
    border-radius: var(--border-radius);
    & > * {
      color: var(--color-black);
      font-family: var(--primary-font-family);
      font-size: var(--text-sm);
      font-weight: bold;
    }
    padding-right: var(--space-sm);

    background: var(--color-white);
  }
  .Toastify__close-button {
    color: var(--color-black);
    margin-top: var(--space-xxs);
    opacity: 1;
  }
  .Toastify__progress-bar--default {
    background: var(--brand-gradient);
  }
}
