@import "src/styles/theme";

.container {
  font-family: var(--primary-font-family);
  @include link-theme("light");

  &.dark {
    @include link-theme("dark");
  }

  text-decoration: none;

  &.underline {
    text-decoration: underline;
  }
}
