@import "src/styles/theme";

.button {
  display: inline-block;
  padding: var(--space-sm) var(--space-lg);
  font-family: Raleway;
  font-weight: bold;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0);
  border-radius: var(--border-radius);
  text-decoration: none;
  text-align: center;
  transition: color 0.2s, border-color 0.2s, background-color 0.2s;
  border: none;
  cursor: pointer;
  &:disabled {
    cursor: not-allowed;
  }
}

.dark {
  color: var(--color-white);
  border: 2px solid var(--color-white);
  &:hover:enabled {
    background-color: var(--color-white);
    border-color: var(--color-white);
    color: var(--color-black);
  }
}

.light {
  border: 2px solid var(--color-primary);
  color: var(--color-primary);
  &:disabled {
    border-color: var(--color-light-gray);
    color: var(--color-light-gray);
  }
  &:hover:enabled {
    background-color: var(--color-primary);
    color: var(--color-white);
  }
}

.sm {
  font-size: var(--text-sm);
}

.block {
  width: 100%;
}
