@import "src/styles/theme";
@import "src/styles/breakpoints";

.container {
  left: 0;
  display: flex;
  z-index: 1;
  padding: var(--space-sm);
  @include for-phone-only {
    justify-content: space-around;
    padding: var(--space-sm) var(--space-xs);
  }
  @include for-silly-tiny-phones-only {
    font-size: var(--text-sm);
  }
  width: 100%;

  justify-content: center;
  @include for-tablet-landscape-up {
    justify-content: flex-end;
  }

  a {
    @include text-theme("dark");
    cursor: pointer;
    text-transform: uppercase;
    font-weight: lighter;
    font-size: var(--text-sm);
  }
}

.floating {
  position: fixed;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
  top: 0;
  background: var(--color-white);

  a {
    @include text-theme("light");
    @include link-theme("light");
  }

  transition: top 0.2s;
  &.visible {
    top: 0px;
  }

  &.hidden {
    top: -100px;
  }

  @include for-phone-only {
    display: flex;
  }
}

.icon {
  margin-right: var(--space-sm);

  @include for-phone-only {
    margin-right: var(--space-xs);
  }
}

.link {
  display: flex;
  align-items: center;
  margin-right: var(--space-md);

  @include for-phone-only {
    margin-right: var(--space-sm);
  }
}
