@import "src/styles/breakpoints";
@import "src/styles/theme";

.container {
  .inner {
    width: 100%;
    height: 100%;
    position: relative;
    padding: var(--space-md);
  }
  .closeButton {
    @include link-theme("light");
    position: absolute;
    top: var(--space-sm);
    right: var(--space-md);
  }
}
